.nav {
    position: relative;
    width: 100%;
    box-shadow: 0 0 10px #e1e5ee;
    &__list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        margin: 0 2rem;
        z-index: 1;
        
        &item {
            
            list-style: none;
            font-weight: bold;
            position: relative;
            padding: 1.5rem 1rem;
            cursor: pointer;

            &::after {
                content: "";
                width: 0;
                height: 0.3rem;
                border-radius: 0.2rem;
                position: absolute;
                left: 1rem;
                bottom: 0.8rem;
                background-color: #f06292;
                transition: width 200ms ease-in;
            }

            &:hover::after,
            &:focus::after {
                width: 80%;
            }

            &:hover ul,
            &:focus ul {
                opacity: 1;
                visibility: visible;
            }

            &drop {
                position: absolute;
                top: 4rem;
                left: -1rem;
                box-shadow: 0 0 10px #e1e5ee;
                background-color: white;
                border-radius: 0.2rem;
                width: 35rem;
                padding: 0.5rem;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 0.5rem;
                opacity: 0;
                visibility: hidden;
                transition: opacity 200ms ease-in-out;

                li {
                    list-style: none;
                    padding: 0.5rem 1rem;
                    border-radius: 0.2rem;
                    transition: background-color 200ms ease-in-out;

                    &:hover,
                    &:focus {
                        background-color: #fce4ec;
                    }
                }
            }
        }
    }
}

@media (max-width : 1200px) {
    .nav {
        width: 100vw !important;
        
    }
}